#nav-bar{
  height: 100%;
  /*background: rgb(80,80,250);*/
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  padding: 0.6%;
}

nav div{
  display: flex;
  width: 50%;
  margin: auto;
}
.nav-link:visited{
  text-decoration: underline
}


#module-links a{
  text-decoration: none;
  display: flex;
  color: rgba(255, 255, 255, 0.819);
  font-weight: 600;
  justify-content: space-evenly;
  height: 100%;
  margin: auto;
}

#module-links :hover{
  text-decoration: underline;
}

footer{
  background-color: gray;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  /*To fix overflowing, left,right = 0 instead of width: 100%*/
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px -1px 8px rgb(100,100,100, 0.8);
}

footer a{
  text-decoration: none;
}

#sectionA-title{
  font-family: monospace;
}

#sectionB-title{
  font-family: monospace;
}

#outlet-div{
  position: relative;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 30px;
  min-height: 430px;
  box-shadow: 0px 5px 10px black;
}

#org-logo{
  top: 0;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

#org-logo-text{
  font-family: monospace;
  font-size: 28px;
  width: 50%;
  text-align: center;
  margin: auto;
  background-color: blue;
}

#Search-bar{
  justify-content:flex-end;
  padding-right: 1%;
}



.Links a{
  text-decoration: none;
  text-decoration-line: none;
}