#nav-bar{
    height: 100%;
    background: rgb(80,80,250);
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    padding: 0.1%;
}

nav ul{
    display: flex;
    list-style-type: none; 
    width: 50%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    justify-content: space-evenly;
}

body{
    display: flex;
    flex-direction: column;
    bottom: 0; 
    margin: 0;
    background-color: white;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#root{
    height: 100%;
    left: 0;
    right: 0;
}

body .h1{
    display: flex;
    left:0;
    color: black;
}

#nav-bar li :hover {
    text-decoration: underline;
}

footer{
    background-color: gray;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    /*To fix overflowing, left,right = 0 instead of width: 100%*/
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px -1px 8px rgb(100,100,100, 0.8);
}

#outlet-div{
    position: relative;
    left: 20%;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 30px;
    min-height: 430px;
    box-shadow: 0px 5px 10px black;
}

body p{
    flex-wrap: wrap;
}

#org-logo{
    top: 0;
    height: 80px;
}

#search-bar{
    display: flex;
    position: relative;
    margin: auto;
}

nav ul li{
    margin: auto;
}