#nav-bar{
    height: 100%;
    background: rgb(80,80,250);
    
    position: relative;
    
    left: 0;
    right: 0;
    padding: 0.1%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    justify-items: left;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

body{
    background-color: white;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0px;
}

#root{
    height: 100%;
    left: 0;
    right: 0;
}

body .h1{
    display: flex;
    left:0;
    color: black;
}

#nav-bar li :hover {
    text-decoration: underline;
}

footer{
    background-color: gray;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    /*To fix overflowing, left,right = 0 instead of width: 100%*/
    left: 0;
    right: 0;
    bottom: 0;
}

#outlet-div{
    position: relative;
    left: 20%;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-top: 15px;
    min-height: 405px;
}

body p{
    flex-wrap: wrap;
}

#org-logo{
    top: 0;
    height: 80px;
}