body{
    display: flex;
    flex-direction: column;
    bottom: 0; 
    margin: 0;
    background-color: white;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body .h1{
    display: flex;
    left:0;
    color: black;
}

body p{
    flex-wrap: wrap;
}

#root{
    height: 100%;
    left: 0;
    right: 0;
}